body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  background-color: #f2f2f2;
}
header {
  background-color: #6521ff;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0px 10px 8px #888888;
}
.search-container {
  visibility: visible;
  width: 100%;
}
.search-input-button {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
.search-input-button input {
  flex-basis: 500px;
  height: 42px;
  font-size: 16px;
  padding: 0 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input-button input:focus {
  outline: none;
  border: 1px solid #993cf3;
}
.search-result {
  position: relative;
  z-index: 2;
  display: flex;
  flex-basis: 100%;
  margin-left: 72px;
  margin-top: -39px;
  justify-content: center;
}
.search-img-link {
  display: flex;
  border-top: 2px solid #f2f2f2;
  padding-top: 2px;
  flex-basis: 100%;
  margin: 1px 0px;
  justify-content: space-between;
}
.search-user {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 513px;
  background-color: #fff;
  color: #000;
  border: 0.5px solid #aaaaaa;
  padding: 5px 3px;
  margin-top: -3px;
  border-top: 0;
}
.search-img {
  margin-left: 10px;
}
.search-link {
  margin-right: 10px;
  background-color: #6521ff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.search-link:hover {
  background-color: #3b01c4;
  color: #f2f2f2;
}
.search-img img {
  height: 30px;
  margin: 0;
}
#btn {
  height: 43px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 2px;
  color: #fff;
  background: #993cf3;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  outline: none;
}
#btn:hover {
  background: #b36ff6;
  cursor: pointer;
}
header img {
  height: 100px;
  margin-left: 40px;
}
.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2.5em;
}
.card {
  width: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5px;
  margin: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1pt;
  opacity: 0.7;
  box-shadow: 5px 5px 8px #888888;
}
.card:hover {
  opacity: 1;
  color: #993cf3;
}
.avatar-img {
  height: 150px;
}
.right {
  font-size: 12pt;
  font-weight: bold;
}
.right {
  display: flex;
  justify-content: center;
}
.menu-btn {
  display: none;
  background-color: #6521ff;
  color: #fff;
  font-size: 32px;
  padding: 12px 16px;
  cursor: pointer;
  border: none;
}

/* footer {
  background-color: #4d4dff;
  color: #fff;
  margin: 5px;
  padding: 10px 5px;
  text-align: center;
  font-size: 12pt;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: #fff;
} */

/* model popup */
/* The Modal (background) */
.modal {
  /* hidden bydefault */
  /* display: none;  */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  margin-bottom: 20px;
  height: 80%;
  overflow-y: auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* popup content*/
.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-image img {
  width: 100px;
  height: 100px;
}
.modal-content p {
  display: flex;
  justify-content: center;
  font-size: 32px;
  letter-spacing: 1px;
}
.modal-content p span {
  font-weight: bold;
}

.follower {
  display: flex;
  align-items: center;
  border: 0.5px solid #aaaaaa;
  padding: 2px;
  margin: 5px 2px;
}
.follower .left {
  margin-right: 10px;
}
.follower .left img {
  height: 70px;
}
.follower .right {
  font-size: 24px;
  line-height: 5px;
  cursor: pointer;
}
.follower .right:hover {
  color: #888;
}

@media only screen and (max-width: 750px) {
  .menu-btn {
    display: block;
  }
  .search-container {
    width: 100%;
    visibility: hidden;
  }

  .search-container input {
    flex-basis: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
  }
  .search-user {
    width: 412px;
  }
  .search-result {
    margin-left: -69px;
    margin-top: -14px;
  }
  #btn {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
  }
  header {
    flex-wrap: wrap;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .logo img {
    margin: 0;
  }
  .card {
    width: 100%;
  }
  .card-list {
    width: 100%;
  }
  .avatar-img {
    height: 100%;
    width: 100%;
  }
}
